.header {
  border-bottom: 1px solid #F5F5F5;
  

   &_content {
      min-height: 70px;
      align-items: center;
      display: flex;
      justify-content:  space-between;
   }

   &_tools {
      display: flex;
   }
}

.menu {
   &_list {
      display: flex;
   }
   &_item:not(:last-child) {
      margin-right: 25px;
   }
}