.header {
   border-bottom: 1px solid #F5F5F5;
   position: fixed;
   z-index: 7;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #fff;

   &_logo {
      position: relative;
      z-index: 3;
      font-weight: 700;
      font-size: 24px;
      font-family: Inter;
      letter-spacing: 0.72px;
   }

   &_content {
      min-height: 70px;
      align-items: center;
      display: flex;
      justify-content: space-between;
   }

   &_tools {
      display: flex;
      align-items: center;
   }

   &_search {
      position: relative;

      >input {
         padding: 10px 34px 10px 20px;
         border-radius: 4px;
         background: #F5F5F5;
         outline: none;
         border: none;

         &::placeholder {
            font-size: 12px;
            line-height: 18px;

         }
      }

      margin-right: 24px;
   }

   &_favorite {
      position: relative;
      z-index: 3;
      margin-right: 16px;
   }

   &_basket {
      margin-right: 10px;
      position: relative;
      z-index: 3;
   }
}

.menu {
   &_list {
      display: flex;
   }

   &_item:not(:last-child) {
      margin-right: 48px;
   }
}

.search_btn {
   position: absolute;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
   border: none;
   padding-right: 12px;
   background-color: transparent;
}

.active {
   border-bottom: 1px solid #515151;
}



.hamburger {
   display: none;
}


@media (max-width: 1000px) {
   .menu {

      &_item:not(:last-child) {
         margin-right: 28px;
      }
   }
}

@media (max-width: 860px) {
   .menu {

      &_item:not(:last-child) {
         margin-right: 15px;
      }
   }

   .header {

      &_search {
         margin-right: 20px;
      }

      &_favorite {
         margin-right: 5px;
      }
   }
}


@media (max-width: 768px) {
   .header_menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 100px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      overflow: auto;

      &::before {
         content: "";
         position: fixed;
         width: 100%;
         top: 0;
         left: 0;
         height: 70px;
         background-color: #fff;
         z-index: 2;
      }

      &.active {
         left: 0;
      }
   }

   .menu {
      &_list {
         display: inline-block;
      }

      &_item {
         color: #fff;
         font-size: 20px;

         &:not(:last-child) {
            margin: 0px 0px 15px 0px;
         }
      }
   }

   .hamburger {
      position: relative;
      margin-left: 10px;
      display: block;
      font-size: 30px;
   }
}

@media (max-width: 500px) {
   .header_search {
      display: none;
   }
}